/*
:root {
    --DARK-BACKGROUND: #111111  ;
    --DARK-COLOR: #F0F0F0;
    --LIGHT-BACKGROUND: #F0F0F0;
    --LIGHT-COLOR: #111111;
}*/

@font-face {
    font-family: 'Azeret Mono';
    src: url(../FONT/AzeretMono-VariableFont_wght.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Azeret Mono', monospace;
}

html {
    height: 100%;
    font-size: 16px;
    background-color: #000000;
    color: #EEEEEE;
}

body {
    height: 100%;
    background-color: inherit;
    color: inherit;
}

a {
    text-decoration: none;
}

ol {
    list-style: none;
}
ul {
    list-style: none;
}
li {
    list-style: none;
}